.abs {
  position: absolute;
}
.rel {
  position: relative;
}
.noborder {
  border: 0 none !important;
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.clear {
  *zoom: 1;
}
.clear:after {
  content: '\20';
  display: block;
  height: 0;
  clear: both;
}
